
.LI-badge-container-vertical-dark {    
    width: 100% !important;
    display:block;
    height: 450px;

}
.LI-badge-container.vertical.dark .LI-profile-pic {
    width: 150px !important;
    height: 150px !important;
    left: 190px !important;
    top: 22px !important;
}
