.col-matrix {
  background-color: rgb(139, 228, 228);
}

.forbidden {
  background-color: rgb(216, 92, 92);
}

.freedesk {
  background-color: rgb(70, 168, 109);
}

.borderless td,
.borderless th {
  border: none;
  font-size: 20px;
}

body {
  background-color: rgba(76, 175, 80, 0.1);
}

hr.style-eight {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-eight:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

#next {
  text-align: center;
}
.adminh1 {
  text-align: center;
}
.borderless td,
.borderless th {
  position: relative;
}

.xmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.freedesk {
  text-align: center;
}
