.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #b37d4e;
}
.delete {
  background-color: #cd5360 !important;
}
.add {
  background-color: #57bc90 !important;
}


@import url(https://fonts.googleapis.com/css?family=Lato);


.ulSide {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  margin-top: 50px;
  padding-inline-start: 0 !important;
}
.liSide {
  padding: 15px 0;
  font-size: large;
}
.aSide {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
.aSide::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.aSide:hover {
  color: #95a5a6;
}

.aSide:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#navdiv {
  background-color: #34495e;
}
nav {
  margin: 27px auto 0;
  position: relative;
  width: 700px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
.aHome {
  line-height:40px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
.aHome:nth-child(1) {
  width: 100px;
}
.aHome:nth-child(2) {
  width: 110px;
}
.aHome:nth-child(3) {
  width: 100px;
}
.aHome:nth-child(4) {
  width: 120px;
}
.aHome:nth-child(5) {
  width: 160px;
}


nav .start-home,
.aHome:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about,
.aHome:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog,
.aHome:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio,
.aHome:nth-child(4):hover ~ .animation {
  width: 120px;
  left: 310px;
  background-color: #9b59b6;
}
/* nav .start-contact,
.aHome:nth-child(5):hover ~ .animation {
  width: 160px;
  left: 470px;
  color: #e67e22;
} */
.aHomeEmail:hover {
  color: yellowgreen;
}

.aHomeIcon:nth-child(3):hover ~ .animation {
  width: 0 !important;
  left: 210px;
  background-color: #3498db;
}
body {
  font-family: sans-serif;
}

