.drop {
  height: 200px;
  overflow-y: auto;
  float: left;
  margin-right: 50px;
  min-width: 235px;
}
label {
  display: block;
}
#dropdown-basic-button {
  min-width: 245px;
}
.drop-create {
  height: 200px;
  overflow-y: auto;
  float: left;
  margin-right: 50px;
  margin-bottom: 627px;
}
#dropdown-basic-button-create {
  min-width: 243px;
}
.btn-primary.dropdown-toggle {
  background-color: #53afbb !important;
}
.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #5fc3d0 !important;
}
.btn-primary.dropdown-toggle:hover,
.btn-primary.dropdown-toggle:focus {
  background-color: #5fc3d0 !important;
}
