#earth {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  margin-top: 30px;
  margin-left: 80px;
  /* margin: 3em auto; */
  background: #888 url(./earthmap.jpg) 0 0 repeat;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-size: 630px;
  animation: rotate 4s linear infinite;
  -webkit-animation: rotate 4s linear infinite;
  -moz-animation: rotate 4s linear infinite;
  -ms-animation: rotate 4s linear infinite;
  -o-animation: rotate 4s linear infinite;
  -webkit-transition: -webkit-transform 200ms linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 200ms linear;
  -moz-transform-style: preserve-3d;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 10px 0 40px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 10px 0 40px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 10px 0 40px 1px rgba(0, 0, 0, 1);
  color: #000;
}
#earth:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0, 0, 0, 0.9) inset;
}
#earth:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.2;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}
@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 630px 0;
  }
}

.divearth {
  float: left;
  width: 15%;
  text-align: center;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
